body {
  background-image: url(https://www.travel-palawan.com/wp-content/uploads/2024/09/Coron-Palawan-Philippines-1-scaled.jpeg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: white;
}
header {
  background-color:transparent;
  color: white;
}
.topnav {
    background: #0078d4;
    font-family: "Poppins", sans-serif;
    justify-content: end;
}
.topnav h2 {
    margin-right: auto;
    padding-top: 10px;
}
.topnav a {
    color: white;
    text-decoration: none;
    justify-content: end;
    padding: 18px;
    position:relative;
}
.topnav a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    border-radius: 1px;
    background: white;
    transition: width 0.3s ease;
}
.topnav a:hover::after {
    width: 100%;
}
.name {
    font-family: "Spicy Rice", serif;
    transition: color 0.3s ease;
    cursor: default;
}
.name:hover {
    color: #ffdb29;
}
.title {
    padding-top: 225px;
    padding-bottom: 225px;
}
.title h1 {
    font-family: "Poppins", sans-serif;
    color:white;
    font-weight: bold;
    font-size: 100px;
    transition: all ease 0.3s;
}
.title h1:hover {
    font-size: 105px;
    color: #ffdb29;
    cursor: default;
}
.one {
    background-color: #f6f6f6 ;
    font-family: "Poppins", sans-serif;
}
.two {
    background-color: #d5d5d3 ;
    font-family: "Poppins", sans-serif;
}
.three {
    background-color: #b1b2ad ;
    font-family: "Poppins", sans-serif;
}