body {
    background-image: url(https://www.travel-palawan.com/wp-content/uploads/2024/09/Coron-Palawan-Philippines-1-scaled.jpeg);
    background-size: cover, cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: white;
}
header {
  background-color:transparent;
  color: white;
}
.topnav {
    font-family: "Poppins", sans-serif;
    justify-content: end;
}
.topnav h2 {
    margin-right: auto;
    padding-top: 10px;
}
.topnav a {
    color: white;
    text-decoration: none;
    justify-content: end;
    padding: 18px;
    position:relative;
}
.topnav a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    border-radius: 1px;
    background: white;
    transition: width 0.3s ease;
}
.topnav a:hover::after {
    width: 100%;
}
.name {
    font-family: "Spicy Rice", serif ;
}
.main  {
    font-family: "Poppins", sans-serif;
    justify-content: center;
    font-size: 120px;
    color: white;
    font-weight: bold;
    margin-top: 125px ;
    margin-bottom: -20px;
    transition: font-size ease 0.3s;
}
.main:hover {
     font-size: 130px;
     cursor: default;
}
.expl {
    font-family: "Poppins", sans-serif;
    color: white;
}
.buton {
    justify-content: center;
}
.buton a {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 25px;
    background-color: white;
    border-radius: 22px;
    margin-top: -30px;
    transition: all ease 0.3s;
}
.buton a:hover {
     font-size: 27px;
     padding: 27px;
     color: #3a8dbd;
     cursor: pointer;
}
.song {
    justify-content: center;
    margin-top: -50px;
}


